*{
    box-sizing: border-box;
}



@media screen and ( min-width: 768px ){

    body{
        width: 100%;
        
    }

}


@media screen and (min-width: 960px){


    body{
        width: 100%;
        
    }
}