@media (min-width: 480px) and (max-width: 767px){

    body{
        background-color: rosybrown;
        font-family: 'Courier New', Courier, monospace;
    }

}


@media screen and (min-width: 768px) {

    body{
        background-color: rosybrown;
        font-family: 'Courier New', Courier, monospace;
    }

}
