
#a, #b, #c, #d, #i {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}

#efgh{
    
    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    
}


@media screen and ( min-width: 768px ){

    
#a{
    height:100px;
    width: 100%;
    background-color: blueviolet;
}


#b{
    height: 600px;
    width: 20.8%;
    background-color: #7eca9c;
}

#cd{

    display: grid;
    grid-template-columns: 39.6% 39.6%;
    justify-content: end;
    

}

#efgh{
    display: grid;
    grid-template-columns: 19.8% 19.8% 19.8% 19.8%;
    justify-content: end;
}

#i{
    width: calc(100% - 20.8%);
    background-color: #96bb7c;
    position: relative;
    left:20.8%;
    height: 150px;
}

#cdfeghi{
   position: relative;
   top: -600px;
}

}


@media screen and (min-width: 960px){

    #a{
        height:100px;
        width: 100%;
        background-color: #caf7e3;
    }
    
    
    #b{
        height: 600px;
        width: 20.8%;
        background-color: #edffec;
    }
    
    #cd{
    
        display: grid;
        grid-template-columns: 39.6% 39.6%;
        justify-content: end;
        
    
    }

    #efgh{
        display: grid;
        grid-template-columns: 19.8% 19.8% 19.8% 19.8%;
        justify-content: end;
    }
    #i{
        width: calc(100% - 20.8%);
        background-color: #810034;
        position: relative;
        left:20.8%;
        height: 150px;
   }
   
   #cdfeghi{
       position: relative;
       top: -600px;
   }



}